@media screen and (max-width: 1023px){

  .navBar{
    margin: 30px 10px;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.iconsDiv{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.headerName{
white-space: nowrap;
color: white;
  filter: drop-shadow(-3px 1px 5px #000);
 max-width: 70%; 
 overflow-y: auto; 

}

.contentFlexDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin: 20px 10px;

}

.toDosDiv{
    width: auto;
    height: 70vh;
    margin-top: 20px;
}

.toDoSList{
    position: relative;
    height: 83%;
    border-radius: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.jobBoardListsDiv{
    margin: 0;
    height: 70vh;
}

.jobBoardsList{
    position: relative;
    height: 90%;
    border-radius: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.toDoSList{
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.jobBoardsList::-webkit-scrollbar {
    display: none;
  }

  .toDoSList::-webkit-scrollbar {
    display: none;
  }

.subHeader{
    font-size: 1.5rem;
    text-align: left;
}

.jobBoardCard{
    height: 15vh;
    margin-bottom: 20px;

}

.toDoSettingsButton{
  position: absolute;
  right: 10px;
  top: 10px;
}

.noJobBoardsView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}



}









@media screen and (min-width: 1024px){

  .navBar{
    margin: 20px 100px;
    padding: 25px 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.noJobBoardsView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.iconsDiv{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.headerName{
white-space: nowrap;
color: white;
  filter: drop-shadow(-3px 1px 5px #000);
}

.contentFlexDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin: 40px 100px;

}

.toDosDiv{
    width: 25%;
    height: 70vh;
    margin-top: 0;
}

.toDoSList{
    position: relative;
    height: 90%;
    border-radius: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

}

.jobBoardListsDiv{
    width: 60%;
    margin: 0;
    height: 70vh;
}

.jobBoardsList{
    position: relative;
    height: 90%;
    border-radius: 12px;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.toDoSList{
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.jobBoardsList::-webkit-scrollbar {
    display: none;
  }

  .toDoSList::-webkit-scrollbar {
    display: none;
  }

.subHeader{
    font-size: 1.5rem;
    text-align: left;
}

.jobBoardCard{
    height: 15vh;
    margin-bottom: 20px;

}

.toDoSettingsButton{
  position: absolute;
  right: 10px;
  top: 10px;
}

}