@media screen and (max-width: 1023px){
    .mainPocketJobDiv{
        width:100vw;
        height: 100vh;
    }
    .pocketedJobsTitleDiv{
        
    }
    .otherMainPocketedJobsDiv{
        padding: 10px 10px;
    }
    .pocketedJobLightColor{
        color: rgb(255, 255, 255)
    }
    
    .pocketedJobDarkColor{
        color: black;
    }
    
    .dragableNoteModalDiv{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    
    .pocketedJobCardsDivisionDiv{
       
        
    }
    
    .jobDataAndNotesInnerDiv{
       display: grid;
       grid-template-columns: 1fr;
       justify-items: center;
       overflow-x: auto;
       overflow-y: auto;
       height: 70%;
       width: 100%;
    }
    .note{
        padding: 20px;
        position: relative;
        height: 15vh;
        width: 15vh;
        border-radius: 3px;
        filter: drop-shadow(0px 1px 6px #000);
        margin-bottom:20px;
        cursor: pointer;
        overflow-y: auto;
    }
    
    .whiteNoteBackgroundColor{
        background-color: rgb(230, 228, 218);
        color: black;
    }
    .whiteNoteBackgroundColorTransparent{
        background-color: rgb(230, 228, 218);
        color: black;
    }
    
    
    .blackNoteBackgroundColor{
        background-color: rgb(64, 64, 64);
        color: white;
    }
    .blackNoteBackgroundColorTransparent{
        background-color: rgb(64, 64, 64);
        color: white;
    }
    .noteModalExitButton{
        position:absolute;
        top: 10px;
        right: 10px;
    }
    
    .titleAndIconDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 8px;
    }
    
    .headerAndIconDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    
    }
    
    .noteModalDiv{
        width: 70vw;
        height: 70vw;
        position: absolute;
        z-index: 1000;
        cursor: auto;
    }
    
    .pocketedJobsColumnCard{
        width: auto;
        height: 50vh;
        margin: 0;
    
    }
    
    .noteModalContents{
        position: relative;
        height: 90%;
        width: 90%;
        margin: auto;
        margin-top: 25px;
        overflow-y: auto;
    }
    
    .tableDiv{
        position: relative;
        width: 100%;
        height: 70%;
        overflow-x: auto;
        display: flex;
        align-items: center;
    }
    .xButtonMappedOutNoteDiv{
        position: absolute;
        left: 5px;
        top: 5px;
    }
    
    .stepStateControlButtonsDiv{
        position: absolute;
        bottom: 10px;
        margin: auto;
    }
    
    .stepperMenu{
        height: 50vh;
        overflow-y: auto;
    }
    
    .pocketedJbTodoDiv{
        width: auto;
    }
    
    .pocketedJobTitle{
        margin: 0;
        white-space: noWrap;
        max-width: fit-content;
        overflow-y: auto;
        font-size: 1.5rem;
    }
    
    table {
        position: relative;
        width: 100%;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        overflow-x: auto;
        overflow-y: auto;
        background: none;
      }
      
      td, th {
        
        text-align: left;
        padding: 8px;
        white-space: nowrap;
        max-width: 30vw;
        overflow-x: auto;
      }
      .headersRow{
        margin-bottom: 50px;
      }
      td{
        border-top: 1px solid rgb(255, 255, 255);
      }
      
      tr:nth-child(even) {
        background: none;
      }



}














@media screen and (min-width: 1024px){
.mainPocketJobDiv{
    width:100vw;
    height: 100vh;
}
.pocketedJobsTitleDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.otherMainPocketedJobsDiv{
    padding: 20px 100px;
}
.pocketedJobLightColor{
    color: rgb(255, 255, 255)
}

.pocketedJobDarkColor{
    color: black;
}

.dragableNoteModalDiv{
    position: absolute;
    top: 10px;
    left: 10px;
}

.pocketedJobCardsDivisionDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.jobDataAndNotesInnerDiv{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   justify-items: center;
   overflow-x: auto;
   overflow-y: auto;
   height: 70%;
   width: 100%;
}
.note{
    padding: 20px;
    position: relative;
    height: 15vh;
    width: 15vh;
    border-radius: 3px;
    filter: drop-shadow(0px 1px 6px #000);
    margin-bottom:20px;
    cursor: pointer;
    overflow-y: auto;
}

.whiteNoteBackgroundColor{
    background-color: rgb(230, 228, 218);
    color: black;
}
.whiteNoteBackgroundColorTransparent{
    background-color: rgb(230, 228, 218);
    color: black;
}


.blackNoteBackgroundColor{
    background-color: rgb(64, 64, 64);
    color: white;
}
.blackNoteBackgroundColorTransparent{
    background-color: rgb(64, 64, 64);
    color: white;
}
.noteModalExitButton{
    position:absolute;
    top: 10px;
    right: 10px;
}

.titleAndIconDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headerAndIconDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;

}

.noteModalDiv{
    width: 50vh;
    height: 50vh;
    position: absolute;
    z-index: 1000;
    cursor: auto;
}

.pocketedJobsColumnCard{
    width:55vw;
    height: 30vh;
    margin: 0;

}

.noteModalContents{
    position: relative;
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    overflow-y: auto;
}

.tableDiv{
    position: relative;
    width: 100%;
    height: 70%;
    overflow-x: auto;
    display: flex;
    align-items: center;
}
.xButtonMappedOutNoteDiv{
    position: absolute;
    left: 5px;
    top: 5px;
}

.stepStateControlButtonsDiv{
    position: absolute;
    bottom: 10px;
    margin: auto;
}

.stepperMenu{
    height: 50vh;
    overflow-y: auto;
}

.pocketedJbTodoDiv{
    width: 20vw;
}

.pocketedJobTitle{
    margin: 0;
}

table {
    position: relative;
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    overflow-x: auto;
    overflow-y: auto;
    background: none;
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    max-width: 30vw;
    overflow-x: auto;
  }
  .headersRow{
    margin-bottom: 50px;
  }
  td{
    border-top: 1px solid rgb(255, 255, 255);
  }
  
  tr:nth-child(even) {
    background: none;
  }
}