@media screen and (max-width: 1023px) {
    .titleCard{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 12px;
    }
    .welcomeAndAboutDivWithButtonToGoToSignIn{}
    
    .titleDiv{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainTitleAndImageDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .titleDescription{
        color: white;
        font-size: 1.2rem;
        text-shadow: -12px 4px 11px #3df5a7;
        margin-left: 10px;
    }
    .mainContentDiv{
        height:100vh;
        width: 100vw;
        background-color: white;
    }
    
    .mainTitle{
        font-size: 4rem;
        color: rgb(255, 255, 255);
        text-shadow: -12px 4px 11px #3df5a7;
        margin: 0;
        margin-left: 10px;
    }
    .welcomeImage{
        margin-top: 20px;
        max-width: 80%;
        height: auto
    }
    .welcomeButton{
       
        width: 70%;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 10px;
       
    }
    .WelcomeAndAboutView{
       
    }
}








@media screen and (min-width: 481px){


    .titleCard{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 12px;
    }
    .welcomeAndAboutDivWithButtonToGoToSignIn{}
    
    .titleDiv{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainTitleAndImageDiv{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .titleDescription{
        color: white;
        font-size: 1.2rem;
        text-shadow: -12px 4px 11px #3df5a7;
        margin-left: 10px;
    }
    .mainContentDiv{
        height:100vh;
        width: 100vw;
        background-color: white;
    }
    
    .mainTitle{
        font-size: 4rem;
        color: rgb(255, 255, 255);
        text-shadow: -12px 4px 11px #3df5a7;
        margin: 0;
        margin-left: 10px;
    }
    .welcomeImage{
        margin-top: 20px;
        max-width: 80%;
        height: auto
    }
    .welcomeButton{
       
        width: 70%;
        text-align: center;
        margin-bottom: 50px;
        margin-left: 10px;
       
    }
    .WelcomeAndAboutView{
       
    }



}







@media screen and (min-width: 1024px){
    .titleCard{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 12px;
    }
    
    .titleDiv{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainTitleAndImageDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .titleDescription{
        color: white;
        font-size: 1.2rem;
        text-shadow: -12px 4px 11px #3df5a7;
    }
    .mainContentDiv{
        height:100vh;
        width: 100vw;
        background-color: white;
    }
    
    .mainTitle{
        font-size: 8rem;
        color: rgb(255, 255, 255);
        text-shadow: -12px 4px 11px #3df5a7;
        margin-bottom: 2px;
    }
    
}


