table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    transition: all 2s;
    
  }
  
  td, th {
   
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #97f0cb;
  }

  .createBoardTableHeader{
    margin: 0;
  }

  .columnNameHeader{
    font-size: .9rem;
    font-weight: 600;
  }
  .columnTypeHeader{
    font-size: .9rem;
    font-weight: 300;
  }