.mainEditingDiv{
    position: relative;
    height: 55vh;
}
.subDiv{
    border: 1px solid black;
    border-radius: 12px;
    height: fit-content;
    padding: 17px;
}

.gridStepsEditingDiv{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: auto;
    grid-gap: 10px;
}