.jobBoardCard{
    height: 15vh;
    margin-bottom: 20px;
    color: black;

}

.headerDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header{
    margin: 0;
    color: black;
}

.jobBoardCardDescriptionDiv{
    border-top: 1px solid #3df5a7;
    text-align: left;
    overflow-y: auto;
}