
@media screen and (max-width: 1023px) {
    body{
        background-image: linear-gradient( 109.6deg,  #3df5a7 11.2%, rgba(9,111,224,1) 91.1% );
        position: relative;
        height: 100%;
        min-height: 100vh;
        width: 100vw;
        overflow-y: auto;
        margin: 0;
        font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
}
body{
    background-image: linear-gradient( 109.6deg,  #3df5a7 11.2%, rgba(9,111,224,1) 91.1% );
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    margin: 0;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.glowing-card{
    padding: 12px;
    background-color: white;
    border-radius: 12px;
    color: white;
    transition: box-shadow .2s;
    cursor: pointer;

}

.glowing-card:hover{
    
    box-shadow: 0 0 20px rgba(61,245,167,1),
            0 0 20px -2px rgba(9,111,224,1),
            0 0 30px 0px rgba(61,245,167,1);
    

}

.glowing-card:focus{
    
   
    background-image: linear-gradient( 109.6deg,  #3df5a7 11.2%, rgba(9,111,224,1) 91.1% );

}